
    <!-- <div >
        <img [src]="myimage"  alt="">
        <img src="assets/images/library1.jfif" class="img" alt="">
    </div> -->
<app-navbar></app-navbar>
<body>
    <br>
   <h2>Computer Science books</h2>
   <br>
  <ng-image-slider  [images]="imgCollection" #nav></ng-image-slider>
  <br>
  <br>
  <br>
  <ng-image-slider  [images]="imgCollection1" #nav></ng-image-slider>
<!-- <div>
    <button class="signup" routerLink="/signup">Go to sign up page</button>
</div>
<div>
    <button class="login" routerLink="/login">Go to login page</button>
</div> -->
  
</body>