<app-navbar></app-navbar>
<router-outlet></router-outlet>
<body>
<div class="split left">
    <div class="centered">
      <img src="\assets\images\student.png" alt="Avatar woman">
      <h2>Member</h2>
      <div>
        <button  type="button" class="btn btn-primary" routerLink="/memberRegister">Sign Up</button>
      </div>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <img src="\assets\images\faculty.jfif" alt="Avatar man">
      <h2>Staff</h2>
      <div>
        <button type="button" class="btn btn-primary" routerLink="/staffRegister" >Sign Up</button>
      </div>
    </div>
  </div>
  </body>


