<app-staff-dashboard></app-staff-dashboard>
<head> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<div class="container">
    <div class="col-md-6">
        <div class="card">
            <div class="text-center">
<form class="center">
    <h1>
        View Orders
    </h1>
    <div class="form-group">
      <label for="exampleInputEmail1">Book Id</label>
      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Book Id">
      
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
</div>
</div>
</div>

<body>
    

    <table class="table table-striped table-dark" id="center">
    <thead class="thead-dark">
      <tr class="col">
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">User Id</th>
        <th scope="col">User Name</th>
        <th scope="col">Issue Date</th>
        <th scope="col">Return Date</th>
        <th scope="col">Accept</th>
        <th scope="col">Reject</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Let Us C</td>
        <td>Yashvanth Kanetkar</td>
        <td>581</td>
        <td>Ankush</td>
        <td>01-02-2023</td>
        <td>16-02-2023</td>
        <td><button class="btn btn-success">Accept</button></td>
        <td><button class="btn btn-danger">Reject</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Core Java</td>
        <td>Nageswara Rao</td>
        <td>586</td>
        <td>Aryan</td>
        <td>02-03-2023</td>
        <td>17-03-2023</td>
        <td><button class="btn btn-success">Accept</button></td>
        <td><button class="btn btn-danger">Reject</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Coding for Beginners</td>
        <td>Mike McGrath</td>
        <td>583</td>
        <td>Arjun</td>
        <td>03-02-2023</td>
        <td>18-02-2023</td>
        <td><button class="btn btn-success">Accept</button></td>
        <td><button class="btn btn-danger">Reject</button></td>
      </tr>
    </tbody>
  </table> 
</body>


