<app-members-dashboard></app-members-dashboard>

<head> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    

    <table class="table table-striped table-dark" id="center">
    <thead class="thead-dark">
      <tr class="col">
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Status</th>
        <th scope="col">Confirm</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Let Us C</td>
        <td>Yashvanth Kanetkar</td>
        <td>Issue</td>
        <td><button class="btn btn-success">Submit</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Core Java</td>
        <td>Nageswara Rao</td>
        <td>Return</td>
        <td><button class="btn btn-success">Submit</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Coding for Beginners</td>
        <td>Mike McGrath</td>
        <td>Issue</td>
        <td><button class="btn btn-success">Submit</button></td>
      </tr>
    </tbody>
  </table> 
</body>

