
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >STAFF PROFILE</a>
      <!-- <button class="navbar-toggler"  data-bs-toggle="collapse" > 
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/addBook">Add Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookSearch">Search Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookUpdate">Update Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/viewOrder">View Orders</a>
          </li>
          <li class="nav-item ">
            <button lass="btn btn danger" float= "right" routerLink="/stafflogin">Logout</button>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>